* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

span {
  font-weight: bold;
}

label {
  font-weight: bold;
}

li{
  list-style: none;
}

.main-body {
  background-image: url(https://img.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg?w=1480&t=st=1700792430~exp=1700793030~hmac=480b6098df52e61aac3ce2e0c90977859bb03231aedcbeb5ce1b91cec51dbf32);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

/* color-switcher */
.switcher-container {
  display: block;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);;
  gap: 5px;
}

.switcherBtns {
  border: 2px solid #212121;
  border-radius: 0px;
  padding: 18px 36px;
}

/* timer */
.timer {
  background-image: url(https://img.freepik.com/free-photo/clock-pen-glasses-white-space_155003-12975.jpg?w=1060&t=st=1700796423~exp=1700797023~hmac=69054491af2ec9c9e807eeaafe59aba0fdf07ea4eabfffdbbc3eaa88232fdb27);
  background-size: cover;
  background-repeat: no-repeat;
}

.timer-container {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.timer-count{
  margin-top: 50px;
}

/* promises */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;
}

.btn {
  background-color: lightgray;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: gray;
}






